* {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.header-image {
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: 200%;

}

nav li {
    display: inline-block;
    width: 15%;
    padding-left: 130px;
}

nav {
    background-color: rgb(23, 2, 43);
    padding: 10px;
    margin: 0 auto;
}

nav li a {
    text-decoration: none;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    position: absolute;
    top: 250px;
    left: 590px;

}

#mood {
    display: inline-block;
    padding-left: 350px;
    /* padding-right: 200px; */
    padding-bottom: 30px;

}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(23, 2, 43);
    color: white;
}

footer a {
    color: white;
}

h1 {
    text-align: center;
    font-family: cursive;
}